@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;400;500;600;700&family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.react-multi-carousel-dot--active > button {
    background-color: #FFDC09 !important;
    border: none !important;
}

.react-multi-carousel-dot > button {
    background-color: #BDBDBD;
    border: none !important;
}